<div class="container-fluid">
  <div style="text-align:center">
    <h1>{{title}}</h1>
    <h2>BEER FOR GODS</h2>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <div class="card" style="width: 16rem; text-align:center;" *ngFor="let keg of KEGS" (click)="showKeg(keg)">
        <h2 style=" font-size:3rem;">
          <span >{{keg.name}}</span>
        </h2>
        <span class="details">
          {{keg.brand}}<br>
          ${{keg.price}}<br>
          ABV {{keg.abv}}%<br>
          NO. pints: {{keg.pints}}
        </span>
      </div>
    </div>
    <div class="col-lg-7 card" style="width: 16rem; text-align:center;" *ngIf="selectedKeg">
      <h1>{{selectedKeg.name}} Details</h1>
      <h3>BRAND: {{selectedKeg.brand}}</h3>
      <h3>PRICE: ${{selectedKeg.price}}</h3>
      <h3>ABV: {{selectedKeg.abv}}%</h3>
      <h3>PINTS LEFT: {{selectedKeg.pints}}</h3>
      <button (click)="editKeg()">EDIT</button>
      <div class="card" *ngIf="">
        <form>
        <label for="">Beer name:</label>
        <input type="text" name="" value="{{keg.name}}">
        <input type="text" name="" value="{{keg.brand}}">
        <input type="number" name="" value="{{keg.price}}">
        <input type="number" name="" value="{{keg.abv}}">
        </form>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
</div>
