/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Shadows Into Light', cursive;
}

html, body {
  background: url('https://images.unsplash.com/photo-1518542698889-ca82262f08d5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=82d7aeb8df6ae2af22bfc04afb7e970c&auto=format&fit=crop&w=2434&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
  margin: 10px;
}
